 .red-button {
     background-color: red;
     color: white;

 }
 .yellow-button {
        background-color: yellow ;
 }

 .marker-button {
     background-color: greenyellow;
 }

 .orange-button {
     background-color: orange;
 }